.main-principal2 {

    float: left;
    width: 100%;
    height: 400px;
    background: url(../img/paodequeijo.jpg) repeat-x top center;
    margin-bottom: 20px;


}

.form-cadastro {
    position: relative;
    float: center;
    align-items: center;
    text-align: center;

}