form {
    text-align: center;
}

h1{
    text-align: center;
}

.form-group select {
    position: relative;
    float: center !important;
    align-items: center !important;
    width: 300px;
}

.form-control {
    display: inline;
    width: 300px;
    position: relative;
    float: center;
}

#btn_cadastrar {
    position: relative;
    float: center;

}