html {
    background: linear-gradient(90deg, rgb(235, 179, 96) 0%, rgb(102, 152, 228) 100%);
}

header {
    padding: 150px 0;
    background: linear-gradient(90deg, rgb(235, 179, 96) 0%, rgb(102, 152, 228) 100%);
}


h1 {
    font-weight: bolder;
    font-family: 'Viaoda Libre', cursive;
}

p {
    text-align: justify;
    font-weight: bold;
}

footer {

    background: linear-gradient(90deg, rgb(235, 179, 96) 0%, rgb(102, 152, 228) 100%);
    padding: 48px 0;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}

hr {
    background: linear-gradient(90deg, rgb(235, 179, 96) 0%, rgb(102, 152, 228) 100%);
    color: linear-gradient(90deg, rgb(235, 179, 96) 0%, rgb(102, 152, 228) 100%);
    margin: 0;
}

footer p {

    text-align: center;
}

.carousel-inner img {
    border-radius: 5%;
    width: 550px;
    height: 350px;
}

.carousel-inner {
    margin-left: 50px;
}

.col-lg-5 {
    padding-top: 0;
}

.navbar-default {
    background: linear-gradient(90deg, rgb(216, 140, 26) 0%, rgb(8, 76, 179)F 100%);
}

#course {
    padding: 80px 0;
}


/* Cadastrar produtos */

main {
    padding: 90px 0;
    background: linear-gradient(90deg, rgb(235, 179, 96) 0%, rgb(102, 152, 228) 100%);   
    
}

main h1 {
    margin-left: 440px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.form-control {

    width: auto;
}



#btn {

    width: 75%;
}
.formulario {
    margin-left: 260px;
    padding: 0 50px 0 50px;
}

.linha {
    margin-top: 76px;
   border-top: 1px solid white;
}