.col-sm-4{
    
    padding: 0px !important;
       
    
}

.col-sm-4 img{
    
    max-width: 100%;
    max-height: 100%;
    
}

.row {
    padding-top: 200px;
}


.col-sm-4 area {
    background-color: wheat;
}

.w-100{
    max-width: 990px !important;
}