.carousel {
    background-image: url(../img/padaria2.jpg);
    background-position: center;
    background: no-repeat;
    background-size: cover;
    padding: 20px 0px;
      
}

#carousel-example-generic{
    background-image: url(../img/padaria2.jpg);
}

.col-lg-3 text-right{
    position: relative;
    float: right;

}

h1{
    text-align: center;

}